body{
	overflow-x:hidden;
}
.container-fluid{
	padding: 0px;
}
.row{
	margin: 0px;
}

@font-face{
    font-family: myFont;
    src: url(../fonts/Lato-Regular.ttf);
}


.navbar{
	margin: 0;
	border-radius: 0;
}


.navbar-default {
  background-color: #814465;
  border-color: #743d5a;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #1b0e15;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #1b0e15;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #1b0e15;
  background-color: #743d5a;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #1b0e15;
  background-color: #743d5a;
}
.navbar-default .navbar-toggle {
  border-color: #743d5a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #743d5a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #1b0e15;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1b0e15;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1b0e15;
    background-color: #743d5a;
  }
}

.slides img{
	width: 100%;
}

.slides h3{
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 200px;
	font-family: myFont;
}

.column{
	padding: 0;
}

#header-img{
	height: 100%;
	width: 100%;
}

.bg1{
	background: url(../img/academic-services.jpg);
}

.bg2{
	background: url(../img/standardized-tests.jpg);
}

.bg1,.bg2{
	
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 250px;
	line-height: 250px;
}

.bg1 a,.bg2 a{
	background: #63b79b;
	padding: 10px 20px;
	color: white;
	font-size: 25px;
	font-family:myfont;
	font-weight:bold;
}

.home-content{
	background:#693C57;
	color: white;
	padding: 30px 60px;
	text-align: center;
	font-size: 20px;
}

.home-content p{
	font-weight:bold;
	font-family: myfont;
	margin: 0;
}

.box1,.box2{
	padding: 30px;
	height: 200px;
	color: white;
	text-align: center;
}

.box1 p,.box2 p{
	font-family:myfont;
	font-size: 18px;
}

.box1{
	background: #63b79b;
}

.box2{
	background: #d66d68;
}

.blog-bg{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 40px;
	padding-bottom: 40px;
}

.blog-img{
	height: 60%;
	width: 60%;
	margin: 0 auto;
}

.fundamental .blog-img{
	padding: 10px 30px;
	margin: 0 auto;
	height: initial;
	width:initial;
}

.blog h1{
	font-weight:bold;
	font-family:myfont;
	padding-left: 15%;
	font-size: 50px;
}

.blog p{
	font-family:myfont;
	padding-left: 15%;
	font-size: 20px;
}

.contact{
	background: url(../img/contact.jpg);
	background-size:100% 100%;
}

.contact .column{

	background:  rgba(229, 83, 83, 0.8);
}

.contact .new-contact{
	background: rgba(159,207,187,0.6);
}

.contact h1{
		text-align: center;
		margin: 0;
		padding-top: 40px;
		color: white;
		font-weight: bold;
		font-size: 45px;
		font-family:myfont;
}


.contact .tag{
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 20px;
}

input[type="text"],input[type="email"]
{
    background: transparent;
    border-color: white;
    color: white;
    font-size: 20px;
}

.contact .form-control{
	width: 300px;
	border-radius: 0px;
	border:2px solid;
	margin-top: 25px;
}

.contact .form-group{
	margin-bottom: 0;
	padding-bottom: 20px;
}

.contact .form-group *{
	
	margin-right: auto;
	margin-left: auto;
}

.contact input[type="button"],.contact input[type="submit"]{
	background: #89c6ad;
	border: none;
	color:white;
	font-weight: bold;
	width: 100px;
	margin-top: 60px;
}

.form-control::-moz-placeholder {
  color: white;
  font-weight: bold;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: white;
  font-weight: bold;
  opacity: 1;
}

.form-control::-webkit-input-placeholder {
  color: white;
  font-weight: bold;
  opacity: 1;
}

.our-method{
	background: #693c57;
	text-align: center;
	padding: 40px;
}

.our-method a{
	color: white;
	font-family:myfont;
	font-weight: bold;
	border: 1px solid white;
	padding: 20px;
	line-height: 1;
	font-size: 25px;
}

.circle-bg{
	background: #381a30;
}

.circle-bg .row{
	padding: 40px;
	margin-right: 50px;
}

.circle-bg .column div{
	text-align: center;
	color: white;
	height: 300px;
	border-radius: 50%;
	margin-right: -50px;
}

.circle-bg .column div span{
	margin-top: 30px;
	font-size: 30px;
}

.circle-bg .column div p{
	font-size:28px;
	margin-top: 60px;
	font-family: myFont;
	font-weight: bold;
	padding-top:100px;
}

.circle1{
	background: rgba(125,60,88,0.8);
}

.circle2{
	background: rgba(72,123,115,0.8);
}

.circle3{
	background: rgba(173,105,99,0.8);
}


.circle4{
	background: rgba(219,154,74,0.8);
}

.circle-bg .column .circle1:hover{
	background: rgba(125,60,88,1);	
}

.circle-bg .column .circle2:hover{
	background: rgba(72,123,115,1);	
}

.circle-bg .column .circle3:hover{
	background: rgba(173,105,99,1);
}

.circle-bg .column .circle4:hover{
	background: rgba(219,154,74,1);	
}


.international .home-int-std-img{
	background:url(../img/standardized-testing.jpg) ;
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 300px;
	line-height: 300px;
}


.packages .home-int-std-img{
	background: url(../img/packages.jpg);
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 300px;
	line-height: 300px;
}

.program .home-int-std-img{
	background: url(../img/program.jpg);
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 300px;
	line-height: 300px;
}

.diagnostic .home-int-std-img{
	background: url(../img/diagnostic.jpg);
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 300px;
	line-height: 300px;
}

.international .home-int-std-img a,.program .home-int-std-img a,.diagnostic .home-int-std-img a,.packages .home-int-std-img a{
	background: #63b79b;
	padding: 10px 30px;
	color: white;
	font-size: 36px;
	font-weight: bold;
}

#counters .column{
	border: 1px solid silver; 
	padding-bottom: 40px;
	padding-top: 40px;
}

#counters h1{
	padding-top: 20px;
	font-size: 100px;
}

#counters h2{
	border: 2px solid black;
	margin: 20px 100px;
}

#counters h3{
	padding: 10px;
}

#footer{
	background: #3F1F3F;
}

#footer nav{
	text-align: center;
	padding: 0;
}

#footer div{
	display: inline;
	margin: 0;
	padding: 10px;
}

#footer div a{
	color: white;
	padding: 5px;
	text-decoration: none;
	font-size: 18px;
	font-family:myfont
}

.social{
	margin-top: 10px;
	height: 36px;
	width: 36px;
}

.copyright{
	background: #190C19;
	text-align: center;
	padding: 10px;
}

.copyright p{
	color: white;
	margin: 0;
}

.about .main-pg-img{
	background-size: 100% 100%;
	background-image:url('../img/about.jpg');
	background-repeat: no-repeat;
}

.academic .main-pg-img{
	background-size: 100% 100%;
	background-image:url('../img/academic-support.jpg');
	background-repeat: no-repeat;
}


.international .main-pg-img{
	background-size: 100% 100%;
	background-image:url('../img/international-main.jpg');
	background-repeat: no-repeat;
}

.standard .main-pg-img{
	background-size: 100% 100%;
	background-image:url('../img/standardized-testing.jpg');
	background-repeat: no-repeat;
}

.img-content{
	background-color: rgba(107, 0, 102, 0.2);
}

.img-content{
	width: 100%;
	padding: 0px;
}

.img-content p{
	color:white;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	position: relative;
	top: 40%;
	margin: 0;
	font-family: myFont;
}

.international .img-content p{
	position: relative;
	left: 20%;
}


.method div{
	height: initial;
	padding: 0;
	
}

.method div p{
	padding: 0;
	margin: 0;
	padding: 20px 0px;
}

.method .box1{
	text-align: center;
}

.method .box2{
	text-align: center;
}

.method .column a{
	border: 1px solid white;
	color: white;
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: bold;
	font-size: 36px;
	padding: 5px;
}


.team{
	text-align: center;
}

.team-social{
	margin: 5px;
}


#testimonials .img-content{
	background-color: rgba(253, 121, 68, 0.5);
}

#testimonials .testi-img{
	background-size: 100% 100%;
	background-image:url('../img/testimonials.jpg');
	background-repeat: no-repeat;
}

#testimonials .img-content{
	width: 100%;
	padding: 0px;
}

#testimonials .img-content p{
	padding-top: 100px;
	padding-bottom: 100px;
	color:white;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	position: relative;
	top: 40%;
	margin: 0;
}

#testimonials .img-content p a{
	border: 2px solid white;
	padding: 10px 50px;
	color: white;
	font-family: "Arial";
}

#join-our-team .img-content{
	background-color: rgba(0, 107, 0, 0.5);
}

#join-our-team .testi-img{
	background-size: 100% 100%;
	background-image:url('../img/join-our-team.jpg');
	background-repeat: no-repeat;
}

#join-our-team .img-content{
	width: 100%;
	padding: 0px;
}

#join-our-team .img-content p{
	padding-top: 100px;
	padding-bottom: 100px;
	color:white;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	position: relative;
	top: 40%;
	margin: 0;
}

#join-our-team .img-content p a{
	border: 2px solid white;
	padding: 10px 50px;
	color: white;
	font-family: "Arial";
}

#testimonials-content{
	background: #E7E4DB;
	text-align: center;	
}

#testimonials-content p{
	margin: 0px;
	padding: 20px 40px;
	font-size: 20px;
}

#sign-up .contact{
	background:none;
	padding-top:30px;
}

#sign-up input[type="text"],#sign-up input[type="email"], #sign-up textarea{
	width: 350px;
    background: #E6E5E5;
    border-color: white;
    color: #787878;
    font-size: 20px;
	margin-top:0px;
}

#sign-up input[type="submit"]{
	margin: 0 auto;
	margin-bottom: 10px;
}

#sign-up .form-control::-moz-placeholder {
  color: #787878;
  font-weight: bold;
  opacity: 1;
}

#sign-up .form-control::-ms-input-placeholder {
  color: #787878;
  font-weight: bold;
  opacity: 1;
}

#sign-up .form-control::-webkit-input-placeholder {
  color: #787878;
  font-weight: bold;
  opacity: 1;
}

#sign-up ul{
	padding: 20px;
	list-style: none;
	text-align: center;
}

#sign-up ul li{
	display: inline-block;
}

#sign-up ul li label{
	font-size: 18px;
}

#packs ul{
	list-style:none;
	text-align: center;
	padding: 0px;
	box-shadow: 15px 20px 20px -10px rgba(136, 136, 136, 0.8), -25px 15px 15px -6px rgba(136, 136, 136, 0.8);
	margin-bottom: 20px;
}

#packs ul li{
	padding: 20px 0px;
	margin: 0px;
	font-family: myFont;
	font-weight: normal;
}

#packs li:nth-child(odd){
	background-color: #EEE9E5;
}

#packs li:nth-child(even){
	background-color: #F6F3F1;
}

#packs span{
	font: initial;
	font-size: 25px;
}

#packs .list1{
	padding: 25px;
}

#packs .list6{
	padding-top: 70px;
	padding-bottom: 30px;
}

#packs .list6 a{
	background: #3CAC8B;
	padding: 10px 20px;
	color: white;
}

.one .list2{
	border: 7px solid #dd904f;
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.ten .list2{
	border: 7px solid #518778;
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.twenty .list2{
	border: 7px solid #824953;
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.thirty .list2{
	border: 7px solid #3d2233;
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.just-stuff{
	text-align: center;
}

.just-stuff h5{
	padding: 5px 50px 30px 50px;
	font-size: 20px;
}

.just-stuff h4{
	padding: 20px;
	font-size: 20px;
}

#exams{
	background: #E9E5DE;
}

.owl-carousel{
	padding:30px 0px;
	padding-bottom: 40px;

}

#exams h4 a{
	border: 2px solid white;
	color: white;
	padding: 10px;
	line-height: 150px;
	font-weight: bold;
}

.owl-carousel .item{
	text-align: center;
	height: 150px;
	margin-right: 30px;
	margin-left: 15px;
}


.item1{
	background:#f57541;	
}

.item2{
	background:#003400; 
}

.item3{
	 background:#307b6c; 
}

.item4{
	background:#F06956;
}

.item5{
	background:#fea708;	
}

.item6{
	background:#f57541;	
}

.item7{
	background:#003400; 
}

.item8{
	 background:#307b6c; 
}

.item9{
	background:#F06956;
}

.item10{
	background:#fea708;	
}

.item11{
	 background:#307b6c; 
}




.fundamental{
	padding:40px 40px; 
	background: #e3e1d5;
}


.fundamental p{
	font-size: 18px;
}

.fundamental .text-center{
	padding: 10px;
}

.fundamental p a{
	background: #37AF3E;
	color: white;
	padding: 5px 10px;
}

.progress-assurance{
	padding: 0px;
}

.progress-assurance .column{
	background-color: rgba(224,224,224,0.7);
	padding: 30px 20px;
}

.progress-assurance h1{
	text-align: center;
	margin: 0px;
}

.progress-assurance a{
	border:2px solid white;
	color: white;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 48px;
}

.progress-assurance p{
	padding: 40px 150px;
	font-size: 24px;
	text-align: center;
}

.diagram img{
	width: 100%;
}

#essay-plans{
	background:#EAE6DF;
	padding: 20px;
}

#essay-plans .col-md-6 p{
	font-size: 17px;
}

#essay-plans .column:nth-child(n+1){
	padding-left: 10px;
}

.plan1{
	list-style: none;
	text-align: center;
	padding-left:20px;
}

.list1{
	color: white;
	font-weight: bold;
	font-size: 30px;
}	

#essay-plans .col-md-3 ul li:nth-child(odd){
	background-color: #EEE9E5;
}

#essay-plans .col-md-3 ul li:nth-child(even){
	background-color: #F6F3F1;
}

#essay-plans .col-md-3 ul li:nth-child(n+3){
	padding: 6px 3px;
}


#essay-plans .col-md-3 ul .list7 a{
	background: #3CAC8B;
	padding: 10px 20px;
	color: white;
}

.application{
	padding-top:20px; 
	padding-left: 40px;
	float: right;
}

#essay-plans .column ol{
	font-size: 17px;
}

.hide1{
	padding: 0;
	margin: 0;
	visibility: hidden;
}

@media only screen and (min-device-width: 320px) and (max-width:992px){
	
	.social{
		margin-top: 10px;
		height: 24px;
		width: 24px;
	}

	#join-our-team .img-content p a,#testimonials .img-content p a{
		font-size: 24px;
	}

	#testimonials-content p,.home-content{
		font-size:12px;
	}
	
	#sign-up input[type="text"],#sign-up input[type="email"], #sign-up textarea{
		width: 280px;
	}

	#sign-up ul li{
	display: block;
	padding-top: 20px;
	}

	#sign-up ul li input{
		margin-left: auto;
		margin-right: auto;
	}
	
	.just-stuff h4{
		font-size: 15px;
	}

	.international .home-int-std-img a{
		font-size: 24px;
		padding: 10px 20px;
	}

	.home-content{
		padding: 20px 40px;
	}

	.packages .home-int-std-img a,.program .home-int-std-img a,.diagnostic .home-int-std-img a{
		font-size: 20px;
	}



	.just-stuff h5{
		font-size: 10px;
		padding: 8px 15px;
	}

	#footer nav div{
		padding: 0px;
	}

	#footer nav a{
		font-size: 9px;
		padding: 3px;
	}

	.owl-carousel{
		padding:20px 0px;
		padding-bottom: 30px;

	}

	#exams h4 a{
		border: 1px solid white;
		padding: 5px;
		line-height: 75px;
		font-weight: bold;
		font-size: 10px;
	}

	.owl-carousel .item{
		height: 75px;
		margin-right: 15px;
		margin-left: 8px;
	}

	.fundamental{
		padding:20px 20px; 
	}

	.fundamental h1{
		font-size: 24px;
	}

	.fundamental p{
		font-size: 12px;
	}

	.progress-assurance .column{
		padding: 20px 5px;
	}

	.progress-assurance a{
		border:2px solid white;
		padding: 10px;
		font-size: 30px;
	}

	.progress-assurance p{
		padding: 20px 30px;
		font-size: 12px;
	}

	#sign-up .contact{
		padding-top:20px;
	}

	#sign-up input[type="text"],#sign-up input[type="email"], #sign-up textarea{
		width: 250px;
	    font-size: 15px;
	}

	#sign-up ul{
		padding: 10px;
	}

	#sign-up ul li label{
		font-size: 15px;
	}

	#sign-up ul li button{
		font-size: 10px;
	}

	.circle-bg .row{
		padding: 20px;
	}

	.circle-bg .column div{
		height: 220px;
		margin-bottom: 20px;

	}

	.circle-bg .column div img{
		margin: 10px;
	}

	.circle-bg .column div p{
		font-size:25px;
		margin-top: 20px;
	}

	.blog-bg .blog h1{
		padding-left: 20px;
		font-size: 24px;
	}

	.blog-bg .blog p{
		padding-left: 20px;
		font-size: 16px;
	}

	.test p{
		font-size: 16px;
	}

	.plan1{
		padding-left: 0;
	}

	#essay-plans h1{
		font-size: 24px;
	}

	#essay-plans .col-md-6 p{
		font-size: 12px;
	}

	#essay-plans .column ol{
	font-size: 12px;
	}

	#esaay-plans{
		padding: 5px;
	}

	#essay-plans .column{
		padding: 5px 20px;
	}

	.list1{
		font-size: 20px;
	}	


	#essay-plans .col-md-3 ul li:nth-child(n+3){
		padding: 6px 3px;
	}


	#essay-plans .col-md-3 ul .list7 a{
		padding: 10px 20px;
	}

	.application{
		padding-top:20px; 
		padding-left: 40px;
	}

	.contact h1{
		font-size: 24px;
	}

	input[type="text"],input[type="email"]{
	    font-size: 16px;
	}

	.contact .form-control{
		width: 250px;
	}

	.slides h3{
		font-size: 30px;
	}

	.contact .tag{
		font-size: 14px;
	}

	.box1,.box2{
		padding: 20px;
	}

	.img-content p {
		font-size: 40px;
	}

	.international .img-content p {
  		left: 5%;
	}
}

@media only screen and (min-width:992px){

	.method .box1 p{
		text-align: right;
	}

	.method .box2 p{
		text-align: left;
	}

	.method .box1 a{
		text-align: right;
		border-right: none;
	}

	.method .box2 a{
		text-align: left;
		border-left: none;
	}

}

a:hover{
	text-decoration: none;
}